body {
  font-family: "Poppins";
  background: rgb(204,246,255);
background: linear-gradient(0deg, rgba(204,246,255,1) 42%, rgba(12,109,153,1) 63%, rgba(24,11,56,1) 85%);
  margin: 10px;
}


.navigaatio {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;

  background-color: #180b38;
}

.vasen-puoli {
  display: flex;
  align-items: center;
}

.oikea-puoli {
  width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.sivu-otsikko {
  margin-top: 70px;
  color: white;
}

.sivu-kuvaus {
  color: white;
}

.sivuperseteksti {
  color: white;
}

.linkki-teksti {
  color: rgb(225, 226, 255);
  font-family: "Oswald";
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.linkki-teksti:hover {
  text-decoration: underline;
}

.foto {
  width: 500px;

}

.fotosmall {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.alaotsikko {
  color:rgb(0, 0, 0);
  font-family: "Oswald";
  font-size: 24px;
  text-decoration: none;
  margin: 10px 0 0 10px;

}

.alaotsikonalaotsikko {
  color:rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 16px;
  text-decoration: none;
  margin: 10px;


}

.pieniteksti {
  margin: 10px;
}

.textbox {
  background-color: rgba(204,246,255,1);
  padding: 2px;
  border-radius: 15px;
  margin: 20px 0 0 0;
}

.pippeli-teksti {
  color:rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
  display: block;
}

.pippeli-teksti:hover {
  text-decoration: underline;
}

.pippeli-teksti:active {
  text-decoration: underline;
  color:rgb(65, 65, 65);
}